<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/static/style.css">
    <title>Contact</title>
</head>
<body class="bruh">
   
        <!-- </head> -->
        <body>
        
        <div class="header">
          <h1>Vocational Guidance</h1>
        </div>
        
        <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href ="{{url_for('intro')}}"> Intro</a>
            
        </div>

      <script>
 window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
}
      </script>

<p class="phone"> Phone number: 0909181045 or 036755100 

</p>
<p class="gmail"> Gmail: daddylovecshub@gmail.com</p>
<p class="dev"> Dev: Minh Thiện, Ryan Do</p>
</body>
</html>
