<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/static/style.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link>
    <title>Contact</title>
</head>
    <body class="bruh">     
      <div class="header">
          <h1>Vocational Guidance</h1>
        </div>
        
    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href ="{{url_for('intro')}}"> Intro</a>
        <a href ="{{url_for('layout')}}"> Login</a>
            
    </div>

      <script>
 window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
}
      </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 

<div class="glyphicon glyphicon-phone" style="font-size:25px"> 0909181045 or 036755100 </div>
<br>
<i class="glyphicon glyphicon-envelope" style="font-size:25px">  daddylovecshub@gmail.com</i>
<br>
<i class="glyphicon glyphicon-user" style="font-size:25px"> Minh Thiện or Ryan Do</i>



</body>
</html>