<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/static/style.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link>
    <title>Home page</title>
</head>
    <body class="bruh">
      <div class="header">
        <h1>Vocational Guidance</h1>
      </div>
    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href ="{{url_for('intro')}}"> Intro</a>
        <a href ="{{url_for('layout')}}"> Login</a>
        
    </div>

      <label for="lang-switch">
        <span lang="vie"> Chọn ngôn ngữ</span>
        <span lang="en">Choose language</span>
    </label>
    <select id="lang-switch">
        <option value="en">English</option>
        <option value="vie" selected>Tiếng Việt</option>
    </select>
    <span lang="en">
      <br><br>
      <p class="intro"><centre>Welcome to Vocational Guidance, where you can find your best-fit job! Please log in before taking the test. </centre> </p>
      
    </span>
  <span lang="vie">
    <br><br>
    <p class="intro"><centre></centre> Chào mừng bạn đến với Vocational Guidance! Đây là một phần mềm giúp bạn định hướng nghề nghiệp của mình! Vui lòng đăng nhập trước khi bú cu   </p>
  </span>

  <div class="noti">
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %} 
                {% for category, message in messages %} 
                    {% if category == 'Error' %}
                        <div class="alert alert_danger alter-dismissable fade show" role = "alert"> 
                        {{ message }}
                        <button type = "button" class = "close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span> 
                        </button>
                        </div>
                    {% else %}
                        <div class="alert alert_success alter-dismissable fade show" role = "alert"> 
                        {{ message }} 
                        <button type = "button" class = "close" data-dismiss="alert">
                        <span aria-hidden="false">&times;</span> 
                        </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
    {% endwith %} 
  </div>


</body>

<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $('[lang]').hide(); // hide all lang attributes on start.
    $('[lang="vie"]').show(); // show just Korean text (you can change it)
    $('#lang-switch').change(function () { // put onchange event when user select option from select
        var lang = $(this).val(); // decide which language to display using switch case. The rest is obvious (i think)
        switch (lang) {
            case 'en':
                $('[lang]').hide();
                $('[lang="en"]').show();
                break;
            case 'vie':
                $('[lang]').hide();
                $('[lang="vie"]').show();
                break;
            default:
                $('[lang]').hide();
                $('[lang="vie"]').show();
        }
    });
</script>
</html>