<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/static/style.css">
    <title>Home page</title>
</head>
    <body class="bruh">
    
    <div class="header">
      <h1>Vocational Guidance</h1>
    </div>
    
    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href ="{{url_for('intro')}}"> Intro</a>

    </div>

      <script>
 window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
}
      </script>
        <label for="lang-switch">
          <span lang="vie"> Chọn ngôn ngữ</span>
          <span lang="en">Choose language</span>
      </label>
      <select id="lang-switch">
          <option value="en">English</option>
          <option value="vie" selected>Tiếng Việt</option>
      </select>
      <span lang="en">
        <br><br>
        <p> This project attempts to create a system that provides a prospective career path for high schoolers. The project includes 2 sections: Myers-Briggs personality test(based on 16 Personalities) and the hobbies test to help you narrow down your career options. </p>

      </span>
       <span lang="vie">
    <br><br>
    <p class="intro"><centre></centre> Dự án này tạo ra để hỗ trợ học sinh cấp 3 lựa chọn ngành nghề phù hợp của mình. Cụ thể, bài kiểm tra của Vocational Guidance dựa trên bài bài kiểm tra Myers–Briggs(bài kiểm tra 16 nhóm tính cách) kết hợp với một bài kiểm tra khác về sở thích để giúp bạn tìm được nghề nghiệp phù hợp với mình
    </p>
    
  </span>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $('[lang]').hide(); // hide all lang attributes on start.
    $('[lang="vie"]').show(); // show just Korean text (you can change it)
    $('#lang-switch').change(function () { // put onchange event when user select option from select
        var lang = $(this).val(); // decide which language to display using switch case. The rest is obvious (i think)
        switch (lang) {
            case 'en':
                $('[lang]').hide();
                $('[lang="en"]').show();
                break;
            case 'vie':
                $('[lang]').hide();
                $('[lang="vie"]').show();
                break;
            default:
                $('[lang]').hide();
                $('[lang="vie"]').show();
        }
    });
</script>   
</body>
</html>
