<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/static/style.css">
    <title>Home page</title>
</head>
<body>
  
    </head>
    <body class="bruh">
    
    <div class="header">
      <h1>Vocational Guidance</h1>
    </div>
    
    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href ="{{url_for('intro')}}"> Intro</a>

    </div>

      <script>
 window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
}
      </script>
      <p> This project is an attempt at creating a system which can provide a fitting career choice for high schoolers. The project is based on the Myers–Briggs Type Indicator1 which divides each person into 16 different personality groups, and questions indicating each person hobbies. Both career match for each personality group as well as hobby questions was provided by experts.</p>