<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
    />
    <link>
    <title>Login</title>
</head>

    <body class="bruh">
      <div class="header">
        <h1>Vocational Guidance</h1>
      </div>

    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href ="{{url_for('intro')}}">Intro</a>
        <a href ="{{url_for('layout')}}">Login</a>    
    </div>



    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
